.Main-chat
  .Main-chat__group-info
    .Left-items
      .Left-items__group
        = @group.name
      %ul.Left-items__member-list
        Member：
        - @group.users.each do |user|
          %li.Left-items__member
            = user.name
    .Right-items
      = link_to edit_group_path(@group), class: "Right-items__edit-btn" do
        Edit
  .Main-chat__message-list
    = render @messages
  .Main-chat__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Textarea
        = f.text_field :message, class: "Textarea__message", placeholder: "type a message"
        = f.label :image do
          = icon('far', 'image', class: "Textarea__icon")
          = f.file_field :image, class: "Textarea__file"
      = f.submit 'Send', class: "Form__submit"