.Main-chat
  .Main-chat__group-info
    .Left-items
      .Left-items__group techcamp
      %ul.Left-items__member-list
        Member：
        %li.Left-items__member
          member1
        %li.Left-items__member
          member2
    .Right-items
      = link_to "#", class: "Right-items__edit-btn" do
        Edit
  .Main-chat__message-list
    = render @messages
  .Main-chat__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Textarea
        = f.text_field :message, class: "Textarea__message", placeholder: "type a message"
        = f.label :image do
          =icon('far', 'image', class: "Textarea__icon")
          = f.file_field :image, class: "Textarea__file"
      = f.submit 'Send', class: "Form__submit"